$body-bg: #12D5CF;
$text-color: #E8F5FF;
$btn-bg: #00FF74;
$btn-disable: #e8304c;
$btn-disable-text: #eee;
$btn-text-color: #333;
$coin-bg: #E7D239;
$coin-text-color: darken($coin-bg, 25%);

// Speed at which the coin spins
$flip-speed: 0.2s;

body {
  background-color: $body-bg;
  color: $text-color;
}

.wrapper {
  max-width: 700px;
  margin: 32px auto;
  padding: 32px 10px;
  position: relative;
}

.result {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 50px;
}

.coin-container {
  height: 300px;
  width: 300px;
  margin: 0 auto 60px;
  position: relative;
  perspective: 900px;
}

#coin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $coin-text-color;
  border-radius: 100%;
  transform-style: preserve-3d;
  transition: transform $flip-speed;
  cursor: pointer;
  
  .coin-side {
    border-radius: 100%;
    background-color: $coin-bg;
    box-shadow: $coin-text-color 0px 0px 3px 1px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 125px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    backface-visibility: hidden;
    
    img {
      width: 100%;
    }
  }
   
  .tails {
   transform: rotateX(180deg);
  }
  
  &.is-flipping {
    animation: flipping $flip-speed infinite;
    cursor: wait;
  }
  
  &.is-heads {
    transform: rotateX(0);
  }
  &.is-tails {
    transform: rotateX(180deg);
  }
}

.btn-container {
  text-align: center;
}
.btn {
  display: inline-block;
  background-color: $btn-bg;
  color: $btn-text-color;
  text-decoration: none;
  padding: 14px 32px 10px 32px;
  min-width: 192px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  
  &.is-flipping {
    background-color: $btn-disable;
    color: $btn-disable-text;
    &:hover {
      background-color: $btn-disable;
      color: $btn-disable-text;
      cursor: wait;
    }
  }
  
  &:hover {
    background-color: darken($btn-bg, 10%);
  }
  &:active {
    background-color: darken($btn-bg, 25%);
  }
}

/* FLIPPING ANIMATION */
@keyframes flipping {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}